/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }
  
  .months { grid-area: months; }
  .days { grid-area: days; }
  .squares { grid-area: squares; }
  
  .graph {
    display: inline-grid;
    grid-template-areas: "empty days"
                         "months squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
  }
  
  .months {
    display: grid;
    list-style: none;
  }
  
  .days,
  .squares {
    display: grid;
    list-style: none;
    grid-gap: var(--square-gap);
    grid-template-columns: repeat(7, var(--square-size));
  }
  
  .squares {
    grid-auto-flow: row;
    grid-auto-columns: var(--square-size);
  }
  
  
  /* Other styling */
  
  .graph {
    padding: 20px;
    border: 1px #e1e4e8 solid;
    /* margin: 20px; */
  }
  
  .days li:nth-child(odd) {
    visibility: hidden;
  }
  
  .squares li {
    background-color: #ebedf0;
    list-style: none;
  }
  
  .squares li[data-level="1"] {
    background-color: #c6e48b;
  }
  
  .squares li[data-level="2"] {
    background-color: #7bc96f;
  }
  
  .squares li[data-level="3"] {
    background-color: #196127;
  }